<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>

	<h1>[ Web 1]</h1>
	
	<h3>정적 리소스</h3>
	<ol>
		<li><a href="image">정적 리소스 사용 - 이미지</a></li>
		<li><a href="sub/image2">정적 리소스 사용 - 가상 경로 테스트</a></li>
		<li><a href="sub/image3">정적 리소스 사용 - template 경로 테스트</a></li>
		<li><a href="css">정적 리소스 사용 - CSS</a></li>
		<li><a href="js">정적 리소스 사용 - JavaScript</a></li>
	</ol>
	
	<h3>Error 페이지</h3>
	<ol>
		<!-- 요청한 URL(자원이) 존재하지 않을 때 발생 -->
		<li><a href="exception404">404 Error</a></li>
		<!-- 서버 내주에서 예외가 발생했을 때 나타는 서버 오류 -->
		<!-- 1. Thymeleaf 문법 오류일 때 자주 발생함 -->
		<li><a href="exception500">500 Error</a></li>
	</ol>
</body>
</html>