<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Introduce</title>
	<link rel="stylesheet" href="/ex1/css/menu.css">
	<link rel="stylesheet" href="/ex1/css/introduce.css">
</head>
<body>
    <!-- 상단 메뉴 -->
    <header>
        <a href="./">홈</a>
        <a href="introduce">소개</a>
        <a href="notice">공지</a>
        <a href="inquiry">문의</a>
    </header>
    
    <!-- 본문 내용 -->
    <main>
        <h1>소개</h1>
        <p>image 출력할 것.</p>
        
        <img class="profile-img" src="image/profile.jfif" alt="프로필 사진">
	    <ul class="info-list">
	        <li><strong>이름:</strong> 홍길동</li>
	        <li><strong>나이:</strong> 25세</li>
	        <li><strong>MBTI:</strong> ISTJ</li>
	        <li><strong>취미:</strong> 먹기, 자기</li>
	        <li><strong>특기:</strong> 많이 먹기, 많이 자기</li>
	    </ul>
    </main>
</body>
</html>