<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Notice</title>
	<link rel="stylesheet" href="/ex1/css/menu.css">
</head>
<body>
    <!-- 상단 메뉴 -->
    <header>
        <a href="./">홈</a>
        <a href="introduce">소개</a>
        <a href="notice">공지</a>
        <a href="inquiry">문의</a>
    </header>
    
    <!-- 본문 내용 -->
    <main>
        <h1>공지</h1>
        <p>목록 or 표 작성할 것.</p>
        
        <ul>
	        <li><strong>[2025-06-01]</strong> 새로운 게시판 기능이 추가되었습니다.</li>
	        <li><strong>[2025-05-25]</strong> 회원가입 오류가 수정되었습니다.</li>
	        <li><strong>[2025-05-10]</strong> 사이트가 오픈되었습니다. 감사합니다!</li>
	    </ul>
    </main>
</body>
</html>