<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring=security">
<head>
<meta charset="UTF-8">
<title>타임리프</title>
</head>
<body>
	
	<h1>[ 시큐리티 타임리프 관련 속성 ]</h1>
	
	<!-- 어떤 권한이든 상관없이 로그인 했다면 -->
	<div sec:authorize="isAuthenticated()">
		<!-- ROLE_USER 권한을 가지로 있다면 -->
		<p sec:authorize="hasRole('USER')">일반 사용자입니다.</p>
		
		<!-- ROLE_ADMIN 권한을 가지고있다면 -->
		<p sec:authorize="hasRole('ADMIN')">관리자입니다.</p>
		
		<!-- 로그인한 아이디 (username) -->
		<p sec:authentication="name"></p>
		
		<!-- principal : 현재 로그인한 사용자의 인증이 완료된 정보 -->
		<!-- 인증 시 사용된 객체에 대한 정보 -->
		<p sec:authentication="principal.authorities"></p>
		
		<!-- 인증 시 사용된 객체에 대한 정보 -->
		<p th:text="${#authentication}"></p>
		<p th:text="${#authentication.name}"></p>
		<p th:text="${#authentication.principal}"></p>
		<p th:text="${#authentication.principal.enabled}"></p>
		<p th:text="${#authentication.principal.authorities}"></p>
		
		
		
	</div>
	<!-- 로그인하지 않은 경우 -->
	<div sec:authorize="not isAuthenticated()">
		<p>로그인하지 않음</p>
	</div>
</body>
</html>