@charset "UTF-8";

body {
	margin: 0px;
	
	background-color: #f9f9f9;
}

header {
	display: flex;
	align-items: center;
	gap: 32px;

	width: 100%;
	
	padding: 16px 16px;

	background-color: navy;
}

a {
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 480px;
	background-color: #fefefe;
	padding: 36px;
	margin: 36px auto;
}

form {
	display: flex;
	flex-direction: column;
	width: 360px;
	gap: 16px;
}

table {
	width: 360px;
	margin-bottom: 10px;
}
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	width: 100px;
	height: 80px;
	text-align: center;
}

.hidden {
	display: none;
}