<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>Home</h1>
	
	<ol>
		<li>lombok</li>
		<ul>
			<li><a href="lombok/lombok1">lombok</a></li>
			<li><a href="lombok/lombok2">logger</a></li>
		</ul>
		
		<li>parameter</li>
		<ul>
			<li><a href="param/view1">Get 방식으로 Parameter 전달</a></li>
			<li><a href="param/view2">Post 방식으로 Parameter 전달</a></li>
			<li><a href="param/view3">Post 방식으로 Parameter 전달(객체)</a></li>
			<li><a href="param/param4?name=abc&age=30&phonoe=111">
				Get 방식으로 Parameter 전달(쿼리스트링)</a></li>
			<li><a href="param/param5">Get 방식으로 Parameter 전달(Default)</a></li>
			<li><a href="param/model">Model 객체로 Parameter 출력</a></li>
			<li><a href="param/view4">유효성 검사 - (Validation)</a></li>
		</ul>
		
		<!-- session & cookie : 사용자 상태를 유지하기 위해 사용하는 기능 -->
		<li>session</li>
		<ul>
			<li><a href="session/session1">session 저장</a></li>
			<li><a href="session/session2">session 삭제</a></li>
			<li><a href="session/session3">session 읽기</a></li>
			<li>session.name: [[${session.name}]]</li>
			
			<li>session.loginId: [[${session.loginId}]]님이 접속 중</li>
			<li><a href="session/login">로그인</a></li>
			<li><a href="session/logout">로그아웃</a></li>
			<li><a href="session/loginTest">로그인해야 보이는 페이지</a></li>
		</ul>

		<li>cookie</li>
		<ul>
			<li><a href="cookie/cookie1">cookie 저장</a></li>
			<li><a href="cookie/cookie2">cookie 삭제</a></li>
			<li><a href="cookie/cookie3">cookie 읽기</a></li>
		</ul>
		
		<li>실습 예제 1</li>
		<ul>
			<li><a href="ex/info">개인정보 입출력</a></li>
			<li><a href="ex/count">방문횟수 카운트</a></li>
		</ul>
		
		<!-- 
			웹 스토리지(Web Storage) : 
				HTML5에서 정의된 Web API이며, 브라우저가 제공하는 기능
				서버와의 통신 없이 클라이언트 쪽에서 데이터를 저장하고,
				읽어올 수 있도록 해주며, 쿠키보다 더 많은 데이터를 더 쉽게 처리.
		 -->
		<li>LocalStorage 와 SessionStorage 사용하기</li>
		<ul>
			<li><a href="storage/save">저장하기</a></li>
			<li><a href="storage/read">읽어오기</a></li>
			<li><a href="storage/delete">삭제하기</a></li>
		</ul>
		
		<li>실습 예제2</li>
		<ul>
			<li><a href="ex/darkmode">다크 모드</a>
			<li><a href="ex/temp">임시</a>
		</ul>
		
		<li>thymeleaf</li>
		<ul>
			<li><a href="th/thymeleaf1">thymeleaf 문법1</a></li>
			<li><a href="th/thymeleaf2">thymeleaf 문법2</a></li>
		</ul>
		
		<li>실습 예제3</li>
		<ul>
			<li><a href="ex/thymeleaf">타임리프 출력</a></li>
		</ul>
	</ol>
	
	
</body>
</html>