<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>Home</h1>
	
	<ol>
		<li>lombok</li>
		<ul>
			<li><a href="lombok/lombok1">lombok</a></li>
			<li><a href="lombok/lombok2">logger</a></li>
		</ul>
		
		<li>parameter</li>
		<ul>
			<li><a href="param/view1">Get 방식으로 Parameter 전달</a></li>
			<li><a href="param/view2">Post 방식으로 Parameter 전달</a></li>
			<li><a href="param/view3">Post 방식으로 Parameter 전달(객체)</a></li>
			<li><a href="param/param4?name=abc&age=30&phonoe=111">
				Get 방식으로 Parameter 전달(쿼리스트링)</a></li>
			<li><a href="param/param5">Get 방식으로 Parameter 전달(Default)</a></li>
			<li><a href="param/model">Model 객체로 Parameter 출력</a></li>
			<li><a href="param/view4">유효성 검사 - (Validation)</a></li>
		</ul>
	</ol>
	
	
	
	
</body>
</html>